DB_PASSWORD=appraisal@123
DJANGO_SECRET_KEY=REPLACE_WITH_LONG_RANDOM_SECRET
BOOTSTRAP_ADMIN_USERNAME=vineetyelleswarapu@gmail.com
BOOTSTRAP_ADMIN_PASSWORD=admin@12345
BOOTSTRAP_ADMIN_EMAIL=vineetyelleswarapu@gmail.com
